#cell {
  width: 80px;
  height: 80px;
  background-color: #595f5cbb;
  display: inline-block;
  vertical-align: middle;
  margin: 5px;
  position: relative;
  border-radius: 5px;
  font-size: 50px;
  font-weight: bold;
  font-family: sans-serif;
  color: #fff;
}

div#cell-value {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  font-size: 20px;
  line-height: 32px;
  height: 30px;
  margin: auto;
  text-align: center;
}

#cell.color-2 {
    background: #eec45b;
}

#cell.color-4 {
    background: #e4ae26;
}

#cell.color-8 {
  color: #f9f6f2;
  background: #e47e2b;
}

#cell.color-16 {
  color: #f9f6f2;
  background: #a3c93c;
}

#cell.color-32 {
  color: #f9f6f2;
  background: #d45a3b;
}

#cell.color-64 {
  color: #f9f6f2;
  background: #d43d18;
}

#cell.color-128 {
  color: #f9f6f2;
  background: #4b8297;
}

#cell.color-256 {
  color: #f9f6f2;
  background: #264653;
}

#cell.color-512 {
  color: #f9f6f2;
  background: #2a499d;
}

#cell.color-1024 {
  color: #f9f6f2;
  background: #32a6f3;
}

#cell.color-2048 {
  color: #f9f6f2;
  background: #2A9D8F;
}

#cell.color-super {
  color: #f9f6f2;
  background: #3c3a32;
}
