#cell {
  width: 80px;
  height: 80px;
  background-color:#29282881;
  display: inline-block;
  vertical-align: middle;
  margin: 5px;
  position: relative;
  border-radius: 5px;
  font-size: 50px;
  font-weight: bold;
  font-family: sans-serif;
  color: #fff;
}

div#cell-value {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  font-size: 20px;
  line-height: 32px;
  height: 30px;
  margin: auto;
  text-align: center;
}

#cell.color-2 {
    background: #cfc036;
}

#cell.color-4 {
    background: #d1e04bb0;
}

#cell.color-8 {
  color: #f9f6f2;
  background: #ee954c;
}

#cell.color-16 {
  color: #f9f6f2;
  background: #E76F51;
}

#cell.color-32 {
  color: #f9f6f2;
  background: #ec5e3a;
}

#cell.color-64 {
  color: #f9f6f2;
  background: #a02e15;
}

#cell.color-128 {
  color: #f9f6f2;
  background: #edcf72;
}

#cell.color-256 {
  color: #f9f6f2;
  background: #4c6f7c;
}

#cell.color-512 {
  color: #f9f6f2;
  background: #264653;
}

#cell.color-1024 {
  color: #f9f6f2;
  background: #5f9c95;
}

#cell.color-2048 {
  color: #f9f6f2;
  background: #2A9D8F;
}

#cell.color-super {
  color: #f9f6f2;
  background: #3c3a32;
}
